html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background: linear-gradient(115deg, rgba(2,0,36,1) 47%, rgba(121,9,114,1) 97%);
}



.Grid_Parent{
    position: absolute;
    top: 10%;
    left: 25%;

    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    cursor: all-scroll;
    border: 3px solid black;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.vizRaws{
    float: left;
}

.vizCell{
    position: relative;
    margin:1px;
    pointer-events: none;
    border: 1px solid rgba(255, 255, 255, 0.25); 
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
}