 html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background: linear-gradient(115deg, rgba(2,0,36,1) 47%, rgba(121,9,114,1) 97%);
}

.logo {
    top: 80%;
    left: 80%;
    position: fixed;
    z-index: 1000;
  }

.webcamCanvas{
    z-index: -1;
    box-shadow: 5px 5px 35px rgb(0, 0, 0);
    /* cursor: all-scroll; */

}

.info{
    font-family: "Press Start 2P",cursive;
    position: fixed;
    top: 50%;
    left: 80%;
    font-size: 1rem;
    color: white;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);

    z-index:9999;
}

.transformedMatrix{
    border: 1px solid rgb(255, 0, 255);
    position: fixed;
}

.vizCellDivParent{
    z-index: 1000;
    position: fixed;
    left: 10vw;
    top: 20rem;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    cursor: all-scroll;
    border: 3px solid black;

}

.vizRawsDiv{
    float: left;
}

.vizCell{
    position: relative;
    /* margin:1px; */
    pointer-events: none;
    /* border: 1px solid rgba(0, 0, 0, 0.603); */
    /* width: 0.5rem;
    height: 0.5rem;  */
}