body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  background-color: rgb(20, 0, 20);
  background-image: url(media/CSjs80s.svg), none;
  background-position: center bottom;
}
a {
  color: white;
}

.logo {
  top: 85%;
  left: 1%;
  position: fixed;
  z-index: 1000;
}

/* GUI */
.dg.ac {
  z-index: 1000 !important;
}
.dg {
  text-align: left;
}
.dg .property-name {
  font: 10px Lucida Grande, sans-serif;
  line-height: 27px;
}
.dg.main .close-button {
  font: 10px Lucida Grande, sans-serif;
  line-height: 27px;
}
.cell-top {
  vertical-align: top;
}

.hidden {
  display: none;
}

.canvasOutput {
  outline: white 3px solid;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
