html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background: black;
}

.tableDiv {
  width: 1000px;
  height: 1000px;
  background: linear-gradient(
    115deg,
    rgba(2, 0, 36, 1) 47%,
    rgba(121, 9, 114, 1) 97%
  );
  margin: auto;
}
