html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background: black;
}

.tableDiv {
  width: 800px;
  height: 800px;
  background: linear-gradient(115deg, #f4827d, 20%, #ccd9ce 60%);
  margin: auto;
}

.tableInfoDiv {
  position: fixed;
  font-family: "Press Start 2p";
  color: rgb(207, 207, 207);
  font-size: 0.5vw;
  line-height: 1vw;
  max-width: 30vw;
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
  top: 85%;
  left: 5%;
  -webkit-animation: colorchange 5s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: #f4827d;
  }

  100% {
    color: #ccd9ce;
  }
}

.gridParentDiv {
  position: relative;
  top: 25%;
  left: 25%;
  width: 50%;
}

.vizRaws {
  float: left;
}

.vizCell {
  position: relative;
  margin: 0 auto;

  font-family: Arial, sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 0.2vw;
}

.shadow {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
}
